@import url("../libs/font-awesome-4.7.0/css/font-awesome.css");

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.app {}

.actions {}

.task-list {}