@import url("../libs/font-awesome-4.7.0/css/font-awesome.css");

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: #00a4d6;
  background-image: url("../img/noisy-grid.png");
}

* {
  box-sizing: border-box;
}

.app {
  width: 500px;
  border-width: 0px 2px 0px 0px;
  border-style: dashed;
  border-color: red;
}

.actions {
  padding: 0 1rem;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}

.actions__text-input {
  flex: 13;
}

.actions__add-btn {
  flex: 1;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  height: 95vh;
  overflow: overlay;
}

.task-list::-webkit-scrollbar {
  width: 0.2em;
}

.task-list::-webkit-scrollbar-track {
  background: transparent;
}

.task-list::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 2px;
}

.task {
  height: 3.5rem;
  border-radius: 4px;
  overflow: hidden;
}

.task:not(:last-child) {
  margin-bottom: .5rem;
}

.task__inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  background-color: #D8DDEF;
}

.task--checked .task__inner {
  background-color: #95BF74;
}

.task--checked .content {
  text-decoration: line-through;
}

.task--removed .task__inner {
  background-color: #E34A6F;
}

.task__action {
  flex: 1;
  height: 100%;
  line-height: 3.5rem;
  text-align: center;
}

.task__action:hover {
  cursor: pointer;
  color: #fff;
}

.content {
  flex: 8;
  user-select: none;
  cursor: default;
}

.task__remove {
  margin-left: auto;
}